<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <p>Home <%= user.name %></p>
    <p>Update Data: </p>
    <form action="/home/update" method="post">
        <span>Name: </span>
        <input type="text" name="name" id="name" value="<%= user.name %>">
        <button type="submit">Save Changes</button>
    </form>


    <p>Delete Account:</p>
    <form id="deleteForm" action="/home/delete" method="POST">
        <button type="submit">Delete Account</button>
    </form>
    <script>
        // JavaScript to confirm account deletion
        document.getElementById('deleteForm').addEventListener('submit', function(event) {
            const confirmation = confirm('Are you sure you want to delete your account? This action cannot be undone.');
            if (!confirmation) {
                event.preventDefault();
            }
        });
    </script>
</body>
</html>